# **Polars**

### **Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью polars**

In [1]:
# Скачать файл из Google Drive
! gdown --id 1YsLUVR9bc2WQRIVC0Os1TCyx-yTwQRHq

/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1YsLUVR9bc2WQRIVC0Os1TCyx-yTwQRHq
To: /content/train.csv
100% 61.2k/61.2k [00:00<00:00, 65.5MB/s]

In [2]:
import polars as pl
!pip install --upgrade polars

Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (1.9.0)
Collecting polars
  Downloading polars-1.12.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (14 kB)
Downloading polars-1.12.0-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 35.6 MB/s eta 0:00:00
Installing collected packages: polars
  Attempting uninstall: polars
    Found existing installation: polars 1.9.0
    Uninstalling polars-1.9.0:
      Successfully uninstalled polars-1.9.0
Successfully installed polars-1.12.0

In [3]:
df = pl.read_csv('/content/train.csv')
df[:4]

shape: (4, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

### **Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д.**

In [4]:
# Строки и столбцы
print("Количество строк:", df.shape[0])
print("Количество столбцов:", df.shape[1])

Количество строк: 891
Количество столбцов: 12

In [5]:
# Типы данных
print("Типы данных:")
df.dtypes

Типы данных:

[Int64,
 Int64,
 Int64,
 String,
 String,
 Float64,
 Int64,
 Int64,
 String,
 Float64,
 String,
 String]

In [6]:
# Пропущенные значения
pl.DataFrame(df.select(pl.all().is_null().sum()).to_dict())

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [7]:
# Статистические данные
print("Статистические данные:")
df.describe()

Статистические данные:

shape: (9, 13)
┌────────────┬─────────────┬──────────┬──────────┬───┬───────────┬───────────┬───────┬──────────┐
│ statistic  ┆ PassengerId ┆ Survived ┆ Pclass   ┆ … ┆ Ticket    ┆ Fare      ┆ Cabin ┆ Embarked │
│ ---        ┆ ---         ┆ ---      ┆ ---      ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---      │
│ str        ┆ f64         ┆ f64      ┆ f64      ┆   ┆ str       ┆ f64       ┆ str   ┆ str      │
╞════════════╪═════════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════╪══════════╡
│ count      ┆ 891.0       ┆ 891.0    ┆ 891.0    ┆ … ┆ 891       ┆ 891.0     ┆ 204   ┆ 889      │
│ null_count ┆ 0.0         ┆ 0.0      ┆ 0.0      ┆ … ┆ 0         ┆ 0.0       ┆ 687   ┆ 2        │
│ mean       ┆ 446.0       ┆ 0.383838 ┆ 2.308642 ┆ … ┆ null      ┆ 32.204208 ┆ null  ┆ null     │
│ std        ┆ 257.353842  ┆ 0.486592 ┆ 0.836071 ┆ … ┆ null      ┆ 49.693429 ┆ null  ┆ null     │
│ min        ┆ 1.0         ┆ 0.0      ┆ 1.0      ┆ … ┆ 110152    ┆ 0.0       ┆ A10   ┆ C        │
│ 25%        ┆ 224.0       ┆ 0.0      ┆ 2.0      ┆ … ┆ null      ┆ 7.925     ┆ null  ┆ null     │
│ 50%        ┆ 446.0       ┆ 0.0      ┆ 3.0      ┆ … ┆ null      ┆ 14.4542   ┆ null  ┆ null     │
│ 75%        ┆ 669.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ null      ┆ 31.0      ┆ null  ┆ null     │
│ max        ┆ 891.0       ┆ 1.0      ┆ 3.0      ┆ … ┆ WE/P 5735 ┆ 512.3292  ┆ T     ┆ S        │
└────────────┴─────────────┴──────────┴──────────┴───┴───────────┴───────────┴───────┴──────────┘

### **Посчитайте количество пассажиров каждого класса (Pclass)**

In [8]:
df.group_by('Pclass').agg(pl.col('PassengerId').count())

shape: (3, 2)
┌────────┬─────────────┐
│ Pclass ┆ PassengerId │
│ ---    ┆ ---         │
│ i64    ┆ u32         │
╞════════╪═════════════╡
│ 1      ┆ 216         │
│ 3      ┆ 491         │
│ 2      ┆ 184         │
└────────┴─────────────┘

### **Выведите количество выживших мужчин и женщин на корабле**

In [9]:
df.group_by('Sex').agg(pl.col('Survived').sum())

shape: (2, 2)
┌────────┬──────────┐
│ Sex    ┆ Survived │
│ ---    ┆ ---      │
│ str    ┆ i64      │
╞════════╪══════════╡
│ male   ┆ 109      │
│ female ┆ 233      │
└────────┴──────────┘

### **Выведите часть таблицы с пассажирами, возраст которых больше 44 лет**

In [10]:
df.filter(pl.col('Age') > 44)[:4]

shape: (4, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome…        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

# **Ускорение работы с pandas**

### **Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) с помощью pandas**

In [54]:
import pandas as pd
import numpy as np
import bottleneck as bn

In [12]:
df = pd.read_csv('/content/train.csv')
df[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

### **Посчитайте средний возраст пассажиров и его стандартное отклонение с помощью bottleneck**

In [13]:
mean_age = bn.nanmean(df['Age'])
std_age = bn.nanstd(df['Age'])

In [14]:
print(f"Средний возраст пассажиров: {mean_age}")
print(f"Стандартное отклонение возраста пассажиров: {std_age}")

Средний возраст пассажиров: 29.69911764705882
Стандартное отклонение возраста пассажиров: 14.516321150817317

### **Для каждого пассажира умножьте значение столбца Fare на 1.3 и сохраните результаты как новый столбец Fare_new**

<b><font color="red">Замерил создание столбца тремя способами. Самым быстрым оказался самый простой с точки зрения синтаксиса: df['Fare 1.3'] = df['Fare'] * 1.3.
Худший результат получился с itertuples.
В чем дело? Ожидал все с точностью наоборот.</b></font>

In [30]:
# apply
df['Fare 1.3 apply'] = df['Fare'].apply(lambda x: x * 1.3)
display(df[:4])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare 1.3,Fare 1.3 apply,Fare 1.3 itertuples
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,9.42500,9.42500,9.42500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,92.66829,92.66829,92.66829
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,10.30250,10.30250,10.30250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,69.03000,69.03000,69.03000

In [32]:
# itertuples
df['Fare 1.3 itertuples'] = [row.Fare * 1.3 for row in df.itertuples()]
df[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare 1.3,Fare 1.3 apply,Fare 1.3 itertuples
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,9.42500,9.42500,9.42500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,92.66829,92.66829,92.66829
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,10.30250,10.30250,10.30250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,69.03000,69.03000,69.03000

In [31]:
# Просто так
df['Fare 1.3'] = df['Fare'] * 1.3
df[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare 1.3,Fare 1.3 apply,Fare 1.3 itertuples
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,9.42500,9.42500,9.42500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,92.66829,92.66829,92.66829
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,10.30250,10.30250,10.30250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,69.03000,69.03000,69.03000

# **Оптимизация типов pandas**

### **Считайте датасет из файла Housing.csv (это данные о ценах домов) с помощью pandas**

In [33]:
# Скачать файл из Google Drive
! gdown --id 13nHAnF_HAAAdoPWKTRnVMx6mgknguynp

/usr/local/lib/python3.10/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=13nHAnF_HAAAdoPWKTRnVMx6mgknguynp
To: /content/Housing.csv
100% 30.0k/30.0k [00:00<00:00, 39.4MB/s]

In [34]:
df = pd.read_csv('/content/Housing.csv')
df[:4]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished

### **Для каждого столбца определите оптимальный с точки зрения потребления памяти тип данных - напишите свои выводы в комментариях**

In [52]:
# Посмотрим уникальные значения в столбцах
display(df['price'].nunique()) # Оставим как есть
display(df['area'].nunique()) # Максимальное число 16200. Если точно знаем, что верхний предел строго ограничен, то подойдет int16
display(df['bedrooms'].nunique()) # Ограниченное количество значений. Может подойти category или int8. Теоретически могут появляться дома богачей из 20 комнат, поэтому лучше int8.
display(df['bathrooms'].nunique()) # Ограниченное количество значений. Может подойти category или int8
display(df['stories'].nunique()) # Ограниченное количество значений. Может подойти category или int8
display(df['mainroad'].nunique()) # Категория
display(df['guestroom'].nunique()) # Категория
display(df['basement'].nunique()) # Категория
display(df['hotwaterheating'].nunique()) # Категория
display(df['airconditioning'].nunique()) # Категория
display(df['parking'].nunique()) # int8 - малое число
display(df['prefarea'].nunique()) # Категория
display(df['furnishingstatus'].nunique()) # Категория

219

284

6

4

4

2

2

2

2

2

4

2

3

In [50]:
max(df['area'])

16200

In [48]:
# Потребление памяти сейчас
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 251.7 KB

### **Поменяйте типы данных столбцов датафрейма на выбранные вами в прошлом пункте и сравните потребление памяти до и после оптимизации**

In [97]:
# Меняем тип данных
df['area_int8'] = df['area'].astype(np.int8)
df['bedrooms_int8'] = df['bedrooms'].astype(np.int8)
df['bedrooms_cat'] = df['bedrooms'].astype('category')
df['bathrooms_int8'] = df['bathrooms'].astype(np.int8)
df['stories_int8'] = df['stories'].astype(np.int8)
df['mainroad_cat'] = df['mainroad'].astype('category')
df['guestroom_cat'] = df['guestroom'].astype('category')
df['basement_cat'] = df['basement'].astype('category')
df['hotwaterheating_cat'] = df['hotwaterheating'].astype('category')
df['airconditioning_cat'] = df['airconditioning'].astype('category')
df['parking_int8'] = df['parking'].astype(np.int8)
df['prefarea_cat'] = df['prefarea'].astype('category')
df['furnishingstatus_cat'] = df['furnishingstatus'].astype('category')

In [98]:
# Сравниваем
display('area',
        f"Было: {df['area'].memory_usage(deep=True)}",
        f"int8: {df['area_int8'].memory_usage(deep=True)}",
        '')
display('bedrooms',
        f"Было: {df['bedrooms'].memory_usage(deep=True)}",
        f"int8: {df['bedrooms_int8'].memory_usage(deep=True)}",
        f"category: {df['bedrooms_cat'].memory_usage(deep=True)}",
        '')
display('stories',
        f"Было: {df['stories'].memory_usage(deep=True)}",
        f"int8: {df['stories_int8'].memory_usage(deep=True)}",
        '')
display('mainroad',
        f"Было: {df['mainroad'].memory_usage(deep=True)}",
        f"cat: {df['mainroad_cat'].memory_usage(deep=True)}",
        '',
        'И так далее...')

'area'

'Было: 4488'

'int8: 673'

''

'bedrooms'

'Было: 4488'

'int8: 673'

'category: 893'

''

'stories'

'Было: 4488'

'int8: 673'

''

'mainroad'

'Было: 32751'

'cat: 900'

''

'И так далее...'

In [105]:
# Сравним датафреймы
df1 = df[['price','area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
df2 = df[['price', 'area_int8', 'bedrooms_int8', 'bedrooms_cat', 'bathrooms_int8', 'stories_int8', 'mainroad_cat', 'guestroom_cat', 'basement_cat', 'hotwaterheating_cat', 'airconditioning_cat', 'parking_int8', 'prefarea_cat', 'furnishingstatus_cat']]

In [104]:
display(f"Было: {df1.memory_usage(deep=True).sum()}",
        f"Стало: {df2.memory_usage(deep=True).sum()}")

'Было: 257760'

'Стало: 13468'